{
  "ConnectionStrings": {
    "Postgres": "Host=localhost;Port=5432;Database=LGYM-APP;Username=postgres;Password=YOUR_DEV_PASSWORD;TimeZone=Europe/Warsaw"
  },
  "Mongo": {
    "ConnectionString": "mongodb://localhost:27017",
    "Database": "lgym-dev"
  },
  "Migrator": {
    "BatchSize": "1000"
  }
}
